/* Estilo general */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f9f9f9;
}

/* Navegación */
nav ul {
    display: flex;
    list-style: none;
    background: #333;
    padding: 10px;
    margin: 0;
    justify-content:center;
    align-items: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    vertical-align: middle;
}

nav ul li img{
    vertical-align: middle;
    padding: 5px;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Encabezado */
header {
    text-align: center;
    padding: 10px;
}

h1{
    margin-left: 20px;
}

p{
    margin-left: 20px;
}

/* Imagen principal */
.hero {
    width: 98%;
    height: auto;
    display: block;
    margin: 20px ;
}

/* Secciones */
section {
    margin: 20px;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Formularios */
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form input, form button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background: #333;
    color: white;
    cursor: pointer;
}

form button:hover {
    background: #555;
}

.second{
    margin-bottom: 50px;
}

/* Pie de página */
footer {
    text-align: center;
    padding: 0;
    background: #333;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}
